<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Data Eng</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css.css') }}">
<style>
p {
  max-width: 400px;
  border: solid 2px green;
}
</style>

</head>
<body>

<div class="form-Bg">
       
    <div class="form-header">
        <h1>Sentiment Analysis</h1>
		<h2>Application determining whether a piece of writing is positive, negative or neutral</h2>
		<BR><BR><BR><BR>
        <h2>Enter your sentence</h2>
        
    </div>
    
    <form method="POST">
		<div class="form-group">
			 <input name="text" type="text" required="required"/>
		</div>
		<br><br>
        <div class="form-group">
            <button type="submit">Send</button>
        </div>
    </form> 
</div>

{% if final %}
<div class="form-header">
	<h1>The score of this text</h1><br>
	<p>Score of Positive: {{ finalP }}%</p>
	<p>Score of Neutral: {{ finalNeu }}%</p>
	<p>Score of Negative: {{ finalNeg }}%</p>
	{% if compound >= 0.05 %}
	<div>
	<h2>The Sentiment of :</h2> <p >'{{ text}}' </p><h2>is <p id="pos" >{{ final }}</p>% Positive !</h2>	
	</div>
	{% elif compound <= -0.05 %}
	<div>
	<h2>The Sentiment of :</h2><p > '{{ text }}' </p><h2>is <p id="neg" >{{ final }}</p>% Negative !</h2>	
	</div>
	{% else %}
	<div>
	<h1>The Sentiment of :</h1><p > '{{ text }}' </p><h1>is <p id="neut" >{{ final }}</p>% Neutral !</h1>	
	</div>
	{% endif %}
	</tr>
{% endif %}
</div>
    
<div class="animation-area">
	<ul class="box-area">
		<li class="fa fa-plus"></li>
		<li></li>  
		<li class="fa fa-plus"></li>
		<li></li>
		<li class="fa fa-plus"></li>
		<li></li>
		<li class="fa fa-plus"></li>
		<li></li>
		<li class="fa fa-plus"></li>
		<li></li>
	</ul>
</div>

</body>
</html>

