<!DOCTYPE html>
<html>
    <head>
        <title>Project Data Eng</title>
    </head>
    <body>
        <h1>Enter your sentence</h1>
        <form method="POST">
            <textarea name="text"></textarea><br><br>
            <input type="submit">
        </form>
        {% if final %}
        <div>
            <h2>The score of this text</h2> 
            <h2>The Sentiment of P</h2>{{ finalP }}%
            <h2>The Sentiment of Neu</h2>{{ finalNeu }}%
            <h2>The Sentiment of Neg</h2>{{ finalNeg }}%           
            <h2>The Sentiment of</h2> '{{ text }}' <h2>is {{ final }}%</h2> 
            {% if compound >= 0.05 %}
            <div>
                Positive
            </div>
            {% elif compound <= 0.05 %}
            <div>
                Negative
            </div>
            {% else %}
            <div>
                Neutre
            </div>
            {% endif %}
            <p></p>
        {% endif %}
        </div>
    </body>
</html>